<div ng-cloak>
    <section class="content-header">
        <h1>Statistik Data Masuk</h1>
    </section>
    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                Tabel Data Masuk
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        <div class="pull-right">
                            <button class="btn btn-default" ng-click="isThisHidden = !isThisHidden"><i class="fa fa-filter"></i> Filter</button>
                        </div>
                    </div>
                </div>

                <div ng-hide="!isThisHidden">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">Kecamatan</label>
                                    <ui-select ng-model="filter.kecamatan" theme="bootstrap" search-enabled="false" on-select="onFilter()">
                                        <ui-select-match placeholder="Pilih kecamatan">
                                            {{$select.selected.nama}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in kecamatanList track by $index">
                                            {{item.nama}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">Tingkat</label>
                                    <br>
                                    <ui-select ng-model="filter.tingkat" theme="bootstrap" search-enabled="false" on-select="onFilter()">
                                        <ui-select-match placeholder="Pilih tingkat">
                                            {{$select.selected.nama}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in educationList track by $index">
                                            {{item.nama}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">Status</label>
                                    <br>
                                    <ui-select ng-model="filter.status" theme="bootstrap" search-enabled="false" on-select="onFilter()">
                                        <ui-select-match placeholder="Pilih status">
                                            {{$select.selected.nama}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in statusSekolah track by $index">
                                            {{item.nama}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table table-striped table-condensed" ng-table="DataMasukTable">
                    <thead>
                        <tr>
                            <th rowspan="2">No</th>
                            <th rowspan="2">NPSN</th>
                            <th rowspan="2">Nama Sekolah</th>
                            <th rowspan="2">Status</th>
                            <th rowspan="2">Kecamatan</th>
                            <th rowspan="2">Nama Operator</th>
                            <th colspan="3" class="text-center">Data Masuk</th>
                        </tr>
                        <tr>
                            <th>PTK</th>
                            <th>PNS</th>
                            <th>NON-PNS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in $data">
                            <td>{{($index + 1) + (DataMasukTable._params.count * (DataMasukTable._params.page -1))}}</td>
                            <td>{{row.npsn}}</td>
                            <td>{{row.namaSekolah}}</td>
                            <td>
                                <span ng-show="row.status == 1">Negeri</span>
                                <span ng-hide="row.status == 1">Swasta</span>
                            </td>
                            <td>{{row.kecamatan}}</td>
                            <td>{{row.operator}}</td>
                            <td ng-style="{'background': row.persentase < 100 ? 'rgba(255,0,0, 0.1)' : '#fff'}">{{row.persentase}}%</td>
                            <td ng-style="{'background': row.persentasePns < 100 ? 'rgba(255,0,0, 0.1)' : '#fff'}">{{row.persentasePns}}%</td>
                            <td ng-style="{'background': row.persentaseNonPns < 100 ? 'rgba(255,0,0, 0.1)' : '#fff'}">{{row.persentaseNonPns}}%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>