<section class="content-header">
    <h1>Detail Gaji Berkala</h1>
</section>
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <div class="box-title">Informasi</div>
        </div>
        <div class="box-body">
            <table class="table table-striped">
                <tr>
                    <th width="25%">
                        Nama Sekolah
                    </th>
                    <td>{{detail.nama}}</td>
                </tr>
                <tr>
                    <th>Tahun</th>
                    <td>{{params.year}}</td>
                </tr>
                <tr ng-hide="yearly">
                    <th>Bulan</th>
                    <td>{{params.month}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="box box-primary">
        <div class="box-header with-border">
            <div class="box-title">Gaji Berkala Terakhir</div>
        </div>
        <div class="box-body">
            <table class="table table-striped table-condensed" ng-table="DetailGajiBerkala">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>No. SK</th>
                        <th>Nama</th>
                        <th>TMT</th>
                        <th>Masa Kerja</th>
                        <th>Golongan</th>
                        <th>Jumlah Gaji</th>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in $data">
                        <td>
                            {{$index+1}}
                        </td>
                        <td>{{row.sk}}</td>
                        <td>{{row.nama}}</td>
                        <td>{{row.tmt}}</td>
                        <td>{{row.masaKerja}}</td>
                        <td>{{row.pangkatGolongan.gol}}/{{row.pangkatGolongan.ruang}}</td>
                        <td>{{row.gaji | currency:"Rp.":0}}</td>
                        <td>
                            <a class="btn btn-success btn-xs" href="/statistik/printGaji/{{row.idPtk}}" target="_blank">
                                Print
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>