<section class="content-header">
    <h1>Statistik Gaji Berkala</h1>
</section>

<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <div class="box-title">Daftar Gaji Berkala</div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-9"></div>
                <div class="col-md-3">
                    <div class="pull-right">
                        <button class="btn btn-default btn-sm" ng-click="isThisHidden = !isThisHidden">
                            <i class="fa fa-filter"></i>
                            <span>Filter</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div ng-hide="!isThisHidden">
                        <div class="well well-sm">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Sekolah</label>
                                        <ui-select ng-model="filter.sekolah" theme="bootstrap" on-select="onFilter()">
                                            <ui-select-match placeholder="Pilih atau cari nama Sekolah">
                                                {{$select.selected.nama}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="item in sekolahList track by $index" refresh="onInputSearchChange($select.search)" refresh-delay="0">
                                                {{item.nama}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Tingkat</label>
                                        <br>
                                        <ui-select ng-model="filter.tingkat" theme="bootstrap" search-enabled="false" on-select="onFilter()">
                                            <ui-select-match placeholder="Pilih Tingkat/Jenjang">
                                                {{$select.selected.nama}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="item in tingkatSekolah track by $index">
                                                {{item.nama}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Kecamatan</label>
                                        <br>
                                        <ui-select ng-model="filter.kecamatan" theme="bootstrap" search-enabled="false" on-select="onFilter()">
                                            <ui-select-match placeholder="Pilih Kecamatan">
                                                {{$select.selected.nama}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="item in kecamatanMalang track by $index">
                                                {{item.nama}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <uib-tabset>
                <uib-tab heading="{{year[0]}}">
                    <table class="table table-striped table-condensed" ng-table="GajiBerkalaTableY0">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>NPSN</th>
                                <th>Nama Sekolah</th>
                                <th>Tingkat</th>
                                <th>Kecamatan</th>
                                <th class="text-center">Jan</th>
                                <th class="text-center">Feb</th>
                                <th class="text-center">Mar</th>
                                <th class="text-center">Apr</th>
                                <th class="text-center">Mei</th>
                                <th class="text-center">Jun</th>
                                <th class="text-center">Jul</th>
                                <th class="text-center">Ags</th>
                                <th class="text-center">Spt</th>
                                <th class="text-center">Okt</th>
                                <th class="text-center">Nov</th>
                                <th class="text-center">Des</th>
                                <th class="text-center">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in $data">
                                <td>{{($index+1) + (GajiBerkalaTableY0._params.count * (GajiBerkalaTableY0._params.page -1))}}</td>
                                <td>
                                    <a href="#!/statistik/gaji-berkala/detail/{{row.id}}/{{year[0]}}">{{row.npsn}}</a>
                                </td>
                                <td>{{row.namaSekolah}}</td>
                                <td>{{row.tingkat}}</td>
                                <td>{{row.kecamatan}}</td>
                                <td class="text-center">
                                    <a href="#!/statistik/gaji-berkala/detail/{{row.id}}/{{year[0]}}/01" class="btn btn-sm btn-default">
                                        <span ng-if="row.gajiBerkala['01']">
                                            {{row.gajiBerkala['01']}}
                                        </span>
                                        <span ng-hide="row.gajiBerkala['01']">0</span>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a href="#!/statistik/gaji-berkala/detail/{{row.id}}/{{year[0]}}/02" class="btn btn-sm btn-default">
                                        <span ng-if="row.gajiBerkala['02']">
                                            {{row.gajiBerkala['02']}}
                                        </span>
                                        <span ng-hide="row.gajiBerkala['02']">0</span>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a href="#!/statistik/gaji-berkala/detail/{{row.id}}/{{year[0]}}/03" class="btn btn-sm btn-default">
                                        <span ng-if="row.gajiBerkala['03']">
                                            {{row.gajiBerkala['03']}}
                                        </span>
                                        <span ng-hide="row.gajiBerkala['03']">0</span>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a href="#!/statistik/gaji-berkala/detail/{{row.id}}/{{year[0]}}/04" class="btn btn-sm btn-default">
                                        <span ng-if="row.gajiBerkala['04']">
                                            {{row.gajiBerkala['04']}}
                                        </span>
                                        <span ng-hide="row.gajiBerkala['04']">0</span>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a href="#!/statistik/gaji-berkala/detail/{{row.id}}/{{year[0]}}/05" class="btn btn-sm btn-default">
                                        <span ng-if="row.gajiBerkala['05']">
                                            {{row.gajiBerkala['05']}}
                                        </span>
                                        <span ng-hide="row.gajiBerkala['05']">0</span>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a href="#!/statistik/gaji-berkala/detail/{{row.id}}/{{year[0]}}/06" class="btn btn-sm btn-default">
                                        <span ng-if="row.gajiBerkala['06']">
                                            {{row.gajiBerkala['06']}}
                                        </span>
                                        <span ng-hide="row.gajiBerkala['06']">0</span>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a href="#!/statistik/gaji-berkala/detail/{{row.id}}/{{year[0]}}/07" class="btn btn-sm btn-default">
                                        <span ng-if="row.gajiBerkala['07']">
                                            {{row.gajiBerkala['07']}}
                                        </span>
                                        <span ng-hide="row.gajiBerkala['07']">0</span>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a href="#!/statistik/gaji-berkala/detail/{{row.id}}/{{year[0]}}/08" class="btn btn-sm btn-default">
                                        <span ng-if="row.gajiBerkala['08']">
                                            {{row.gajiBerkala['08']}}
                                        </span>
                                        <span ng-hide="row.gajiBerkala['08']">0</span>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a href="#!/statistik/gaji-berkala/detail/{{row.id}}/{{year[0]}}/09" class="btn btn-sm btn-default">
                                        <span ng-if="row.gajiBerkala['09']">
                                            {{row.gajiBerkala['09']}}
                                        </span>
                                        <span ng-hide="row.gajiBerkala['09']">0</span>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a href="#!/statistik/gaji-berkala/detail/{{row.id}}/{{year[0]}}/10" class="btn btn-sm btn-default">
                                        <span ng-if="row.gajiBerkala['10']">
                                            {{row.gajiBerkala['10']}}
                                        </span>
                                        <span ng-hide="row.gajiBerkala['10']">0</span>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a href="#!/statistik/gaji-berkala/detail/{{row.id}}/{{year[0]}}/11" class="btn btn-sm btn-default">
                                        <span ng-if="row.gajiBerkala['11']">
                                            {{row.gajiBerkala['11']}}
                                        </span>
                                        <span ng-hide="row.gajiBerkala['11']">0</span>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a href="#!/statistik/gaji-berkala/detail/{{row.id}}/{{year[0]}}/12" class="btn btn-sm btn-default">
                                        <span ng-if="row.gajiBerkala['12']">
                                            {{row.gajiBerkala['12']}}
                                        </span>
                                        <span ng-hide="row.gajiBerkala['12']">0</span>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <span ng-if="row.gajiBerkala['total']">
                                        {{row.gajiBerkala['total']}}
                                    </span>
                                    <span ng-hide="row.gajiBerkala['total']">0</span>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <th colspan="5" class="text-right">TOTAL</th>
                            <td class="text-center">{{gajiBerkalaTotal[0][0].total}}</td>
                            <td class="text-center">{{gajiBerkalaTotal[0][1].total}}</td>
                            <td class="text-center">{{gajiBerkalaTotal[0][2].total}}</td>
                            <td class="text-center">{{gajiBerkalaTotal[0][3].total}}</td>
                            <td class="text-center">{{gajiBerkalaTotal[0][4].total}}</td>
                            <td class="text-center">{{gajiBerkalaTotal[0][5].total}}</td>
                            <td class="text-center">{{gajiBerkalaTotal[0][6].total}}</td>
                            <td class="text-center">{{gajiBerkalaTotal[0][7].total}}</td>
                            <td class="text-center">{{gajiBerkalaTotal[0][8].total}}</td>
                            <td class="text-center">{{gajiBerkalaTotal[0][9].total}}</td>
                            <td class="text-center">{{gajiBerkalaTotal[0][10].total}}</td>
                            <td class="text-center">{{gajiBerkalaTotal[0][11].total}}</td>
                        </tfoot>
                    </table>
                </uib-tab>
                <uib-tab heading="{{year[1]}}">
                    <table class="table table-striped table-condensed" ng-table="GajiBerkalaTableY1">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>NPSN</th>
                                <th>Nama Sekolah</th>
                                <th>Tingkat</th>
                                <th>Kecamatan</th>
                                <th>Jan</th>
                                <th>Feb</th>
                                <th>Mar</th>
                                <th>Apr</th>
                                <th>Mei</th>
                                <th>Jun</th>
                                <th>Jul</th>
                                <th>Ags</th>
                                <th>Spt</th>
                                <th>Okt</th>
                                <th>Nov</th>
                                <th>Des</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in $data">
                                <td>{{($index+1) + (GajiBerkalaTableY1._params.count * (GajiBerkalaTableY1._params.page -1))}}</td>
                                <td>
                                    <a href="#!/statistik/gaji-berkala/detail/{{row.id}}/{{year[1]}}">{{row.npsn}}</a>
                                </td>
                                <td>{{row.namaSekolah}}</td>
                                <td>{{row.tingkat}}</td>
                                <td>{{row.kecamatan}}</td>
                                <td>
                                    <a href="#!/statistik/gaji-berkala/detail/{{row.id}}/{{year[1]}}/01" class="btn btn-sm btn-default">
                                        <span ng-if="row.gajiBerkala['01']">
                                            {{row.gajiBerkala['01']}}
                                        </span>
                                        <span ng-hide="row.gajiBerkala['01']">0</span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#!/statistik/gaji-berkala/detail/{{row.id}}/{{year[1]}}/02" class="btn btn-sm btn-default">
                                        <span ng-if="row.gajiBerkala['02']">
                                            {{row.gajiBerkala['02']}}
                                        </span>
                                        <span ng-hide="row.gajiBerkala['02']">0</span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#!/statistik/gaji-berkala/detail/{{row.id}}/{{year[1]}}/03" class="btn btn-sm btn-default">
                                        <span ng-if="row.gajiBerkala['03']">
                                            {{row.gajiBerkala['03']}}
                                        </span>
                                        <span ng-hide="row.gajiBerkala['03']">0</span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#!/statistik/gaji-berkala/detail/{{row.id}}/{{year[1]}}/04" class="btn btn-sm btn-default">
                                        <span ng-if="row.gajiBerkala['04']">
                                            {{row.gajiBerkala['04']}}
                                        </span>
                                        <span ng-hide="row.gajiBerkala['04']">0</span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#!/statistik/gaji-berkala/detail/{{row.id}}/{{year[1]}}/05" class="btn btn-sm btn-default">
                                        <span ng-if="row.gajiBerkala['05']">
                                            {{row.gajiBerkala['05']}}
                                        </span>
                                        <span ng-hide="row.gajiBerkala['05']">0</span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#!/statistik/gaji-berkala/detail/{{row.id}}/{{year[1]}}/06" class="btn btn-sm btn-default">
                                        <span ng-if="row.gajiBerkala['06']">
                                            {{row.gajiBerkala['06']}}
                                        </span>
                                        <span ng-hide="row.gajiBerkala['06']">0</span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#!/statistik/gaji-berkala/detail/{{row.id}}/{{year[1]}}/07" class="btn btn-sm btn-default">
                                        <span ng-if="row.gajiBerkala['07']">
                                            {{row.gajiBerkala['07']}}
                                        </span>
                                        <span ng-hide="row.gajiBerkala['07']">0</span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#!/statistik/gaji-berkala/detail/{{row.id}}/{{year[1]}}/08" class="btn btn-sm btn-default">
                                        <span ng-if="row.gajiBerkala['08']">
                                            {{row.gajiBerkala['08']}}
                                        </span>
                                        <span ng-hide="row.gajiBerkala['08']">0</span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#!/statistik/gaji-berkala/detail/{{row.id}}/{{year[1]}}/09" class="btn btn-sm btn-default">
                                        <span ng-if="row.gajiBerkala['09']">
                                            {{row.gajiBerkala['09']}}
                                        </span>
                                        <span ng-hide="row.gajiBerkala['09']">0</span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#!/statistik/gaji-berkala/detail/{{row.id}}/{{year[1]}}/10" class="btn btn-sm btn-default">
                                        <span ng-if="row.gajiBerkala['10']">
                                            {{row.gajiBerkala['10']}}
                                        </span>
                                        <span ng-hide="row.gajiBerkala['10']">0</span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#!/statistik/gaji-berkala/detail/{{row.id}}/{{year[1]}}/11" class="btn btn-sm btn-default">
                                        <span ng-if="row.gajiBerkala['11']">
                                            {{row.gajiBerkala['11']}}
                                        </span>
                                        <span ng-hide="row.gajiBerkala['11']">0</span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#!/statistik/gaji-berkala/detail/{{row.id}}/{{year[1]}}/12" class="btn btn-sm btn-default">
                                        <span ng-if="row.gajiBerkala['12']">
                                            {{row.gajiBerkala['12']}}
                                        </span>
                                        <span ng-hide="row.gajiBerkala['12']">0</span>
                                    </a>
                                </td>
                                <td>
                                    <span ng-if="row.gajiBerkala['total']">
                                        {{row.gajiBerkala['total']}}
                                    </span>
                                    <span ng-hide="row.gajiBerkala['total']">0</span>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <th colspan="5" class="text-right">TOTAL</th>
                            <td class="text-center">{{gajiBerkalaTotal[1][0].total}}</td>
                            <td class="text-center">{{gajiBerkalaTotal[1][1].total}}</td>
                            <td class="text-center">{{gajiBerkalaTotal[1][2].total}}</td>
                            <td class="text-center">{{gajiBerkalaTotal[1][3].total}}</td>
                            <td class="text-center">{{gajiBerkalaTotal[1][4].total}}</td>
                            <td class="text-center">{{gajiBerkalaTotal[1][5].total}}</td>
                            <td class="text-center">{{gajiBerkalaTotal[1][6].total}}</td>
                            <td class="text-center">{{gajiBerkalaTotal[1][7].total}}</td>
                            <td class="text-center">{{gajiBerkalaTotal[1][8].total}}</td>
                            <td class="text-center">{{gajiBerkalaTotal[1][9].total}}</td>
                            <td class="text-center">{{gajiBerkalaTotal[1][10].total}}</td>
                            <td class="text-center">{{gajiBerkalaTotal[1][11].total}}</td>
                        </tfoot>
                    </table>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</section>