<div ng-cloak>
    <section class="content-header">
        <h1>
            Statistik Data Guru
        </h1>
    </section>

    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                Tabel Statistik
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        <div class="pull-right">
                            <button class="btn btn-default btn-sm" ng-click="isThisHidden = !isThisHidden">
                                <i class="fa fa-filter"></i>
                                <span>Filter</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div ng-hide="!isThisHidden">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">Sekolah</label>
                                    <ui-select ng-model="filter.sekolah" theme="bootstrap" on-select="onFilter()">
                                        <ui-select-match placeholder="Pilih atau cari nama Sekolah">
                                            {{$select.selected.nama}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in sekolahList track by $index" refresh="onInputSearchChange($select.search)" refresh-delay="0">
                                            {{item.nama}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">Tingkat</label>
                                    <br>
                                    <ui-select ng-model="filter.tingkat" theme="bootstrap" search-enabled="false" on-select="onFilter()">
                                        <ui-select-match placeholder="Pilih tingkat">
                                            {{$select.selected.nama}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in educationList track by $index">
                                            {{item.nama}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <!-- <div class="form-group">
                                    <label for="">Status</label>
                                    <br>
                                    <ui-select ng-model="filter.status" theme="bootstrap" search-enabled="false" on-select="onFilter()">
                                        <ui-select-match placeholder="Pilih status">
                                            {{$select.selected.nama}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in statusSekolah track by $index">
                                            {{item.nama}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped" ng-table="MapelTable">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Nama Mapel</th>
                            <th>Jumlah Guru</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in $data">
                            <td>{{$index+1}}</td>
                            <td>{{row.nama}}</td>
                            <td>{{row.jumlah}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="2" class="text-right">Total Guru</th>
                            <td>{{totals}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </section>
</div>