<section class="content-header">
    Statistik Insentif
</section>
<section class="content" ng-cloak>
    <div class="box box-primary">
        <div class="box-header with-border">
            Tabel Insentif
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <button class="btn btn-success btn-sm" ng-click="onBtnExportClicked()">
                            <i class="fa fa-cloud-download"></i>
                            <span>Export</span>
                        </button>
                        <button class="btn btn-default btn-sm" ng-click="isThisHidden = !isThisHidden">
                            <i class="fa fa-filter"></i>
                            <span>Filter</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-md-12">
                    <div ng-hide="!isThisHidden">
                        <div class="well well-sm">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Sekolah</label>
                                        <ui-select ng-model="filter.sekolah" theme="bootstrap" on-select="onFilter()">
                                            <ui-select-match placeholder="Pilih atau cari nama Sekolah">
                                                {{$select.selected.nama}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="item in sekolahList track by $index" refresh="onInputSearchChange($select.search)" refresh-delay="0">
                                                {{item.nama}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Tingkat</label>
                                        <br>
                                        <ui-select ng-model="filter.tingkat" theme="bootstrap" search-enabled="false" on-select="onFilter()">
                                            <ui-select-match placeholder="Pilih Tingkat/Jenjang">
                                                {{$select.selected.nama}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="item in tingkatSekolah track by $index">
                                                {{item.nama}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Kecamatan</label>
                                        <br>
                                        <ui-select ng-model="filter.kecamatan" theme="bootstrap" search-enabled="false" on-select="onFilter()">
                                            <ui-select-match placeholder="Pilih Kecamatan">
                                                {{$select.selected.nama}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="item in kecamatanMalang track by $index">
                                                {{item.nama}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-condensed" ng-table="InsentifTable">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>NUPTK</th>
                                    <th>Nama</th>
                                    <th>Jenis Pegawai</th>
                                    <th>Unit Kerja</th>
                                    <th>Usia</th>
                                    <th>TMT</th>
                                    <th>Bank</th>
                                    <th>No Rekening</th>
                                    <th>Cabang</th>
                                    <th>Masa Kerja</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in $data">
                                    <td>{{$index+1}}</td>
                                    <td>{{row.nuptk}}</td>
                                    <td>{{row.nama}}</td>
                                    <td>{{row.jenisPegawai}}</td>
                                    <td>{{row.unitKerja}}</td>
                                    <td>{{row.usia}} Tahun</td>
                                    <td>{{row.tmt}}</td>
                                    <td>{{row.rekening.bank}}</td>
                                    <td>{{row.rekening.noRekening}}</td>
                                    <td>{{row.rekening.cabang}}</td>
                                    <td>{{row.masaKerja}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>