<section class="content-header">
    <h1>Statistik Pensiun</h1>
</section>
<section class="content" ng-cloak>
    <div class="row">
        <div class="col-lg-4">
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>{{all[0]}}</h3>
                    <p>Total Pensiun di {{year[0]}}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{all[1]}}</h3>
                    <p>Total Pensiun di {{year[1]}}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{all[2]}}</h3>
                    <p>Total Pensiun di {{year[2]}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="box box-primary">
        <div class="box-header with-border">
            Tabel Pensiun
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-9"></div>
                <div class="col-md-3">
                    <div class="pull-right">
                        <button class="btn btn-default btn-sm" ng-click="isThisHidden = !isThisHidden">
                            <i class="fa fa-filter"></i>
                            <span>Filter</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div ng-hide="!isThisHidden">
                        <div class="well well-sm">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Sekolah</label>
                                        <ui-select ng-model="filter.sekolah" theme="bootstrap" on-select="onFilter()">
                                            <ui-select-match placeholder="Pilih atau cari nama Sekolah">
                                                {{$select.selected.nama}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="item in sekolahList track by $index" refresh="onInputSearchChange($select.search)" refresh-delay="0">
                                                {{item.nama}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Tingkat</label>
                                        <br>
                                        <ui-select ng-model="filter.tingkat" theme="bootstrap" search-enabled="false" on-select="onFilter()">
                                            <ui-select-match placeholder="Pilih Tingkat/Jenjang">
                                                {{$select.selected.nama}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="item in tingkatSekolah track by $index">
                                                {{item.nama}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Kecamatan</label>
                                        <br>
                                        <ui-select ng-model="filter.kecamatan" theme="bootstrap" search-enabled="false" on-select="onFilter()">
                                            <ui-select-match placeholder="Pilih Kecamatan">
                                                {{$select.selected.nama}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="item in kecamatanMalang track by $index">
                                                {{item.nama}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped" ng-table="PensiunTable">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>NPSN</th>
                                    <th>Nama Sekolah</th>
                                    <th>Tingkat</th>
                                    <th>Kecamatan</th>
                                    <th>{{year[0]}}</th>
                                    <th>{{year[1]}}</th>
                                    <th>{{year[2]}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in $data">
                                    <td>{{$index+1}}</td>
                                    <td>{{row.npsn}}</td>
                                    <td>{{row.namaSekolah}}</td>
                                    <td>{{row.tingkat}}</td>
                                    <td>{{row.kecamatan}}</td>
                                    <td>
                                        <button class="btn btn-xs btn-default" ng-click="onBtnDetailClicked(row, 0)">
                                            <i class="fa fa-eye"></i>
                                        </button> {{row.pensiun[0].total}}</td>
                                    <td>
                                        <button class="btn btn-xs btn-default" ng-click="onBtnDetailClicked(row, 1)">
                                            <i class="fa fa-eye"></i>
                                        </button> {{row.pensiun[1].total}}</td>
                                    <td>
                                        <button class="btn btn-xs btn-default" ng-click="onBtnDetailClicked(row, 2)">
                                            <i class="fa fa-eye"></i>
                                        </button> {{row.pensiun[2].total}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>