@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 300;
    src: url(Source+Sans+Pro_300_italic.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Source+Sans+Pro_300_italic.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Source+Sans+Pro_300_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/sourcesanspro/v10/fpTVHK8qsXbIeTHTrnQH6GGomRtBD2u8FwSY4jjlmeA.woff */
        url(Source+Sans+Pro_300_italic.ttf) format('truetype'), /* http://fonts.gstatic.com/s/sourcesanspro/v10/fpTVHK8qsXbIeTHTrnQH6Dy0a9mz2IKMOL1zj2ElpUf3rGVtsTkPsbDajuO5ueQw.ttf */
        url(Source+Sans+Pro_300_italic.svg#Source+Sans+Pro_300_italic) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 400;
    src: url(Source+Sans+Pro_400_italic.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Source+Sans+Pro_400_italic.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Source+Sans+Pro_400_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/sourcesanspro/v10/M2Jd71oPJhLKp0zdtTvoMzNrcjQuD0pTu1za2FULaMs.woff */
        url(Source+Sans+Pro_400_italic.ttf) format('truetype'), /* http://fonts.gstatic.com/s/sourcesanspro/v10/M2Jd71oPJhLKp0zdtTvoMzpKUtbt71woJ25xl7KOGD0.ttf */
        url(Source+Sans+Pro_400_italic.svg#Source+Sans+Pro_400_italic) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 600;
    src: url(Source+Sans+Pro_600_italic.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Source+Sans+Pro_600_italic.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Source+Sans+Pro_600_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/sourcesanspro/v10/fpTVHK8qsXbIeTHTrnQH6PULlOK_XQENnt2ryrY843E.woff */
        url(Source+Sans+Pro_600_italic.ttf) format('truetype'), /* http://fonts.gstatic.com/s/sourcesanspro/v10/fpTVHK8qsXbIeTHTrnQH6OgjO17HpiopmTnQucPs34_3rGVtsTkPsbDajuO5ueQw.ttf */
        url(Source+Sans+Pro_600_italic.svg#Source+Sans+Pro_600_italic) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: url(Source+Sans+Pro_300_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Source+Sans+Pro_300_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Source+Sans+Pro_300_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/sourcesanspro/v10/toadOcfmlt9b38dHJxOBGNbE_oMaV8t2eFeISPpzbdE.woff */
        url(Source+Sans+Pro_300_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/sourcesanspro/v10/toadOcfmlt9b38dHJxOBGPS42wKzre0cxmO5m5GyTsY.ttf */
        url(Source+Sans+Pro_300_normal.svg#Source+Sans+Pro_300_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url(Source+Sans+Pro_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Source+Sans+Pro_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Source+Sans+Pro_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/sourcesanspro/v10/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff */
        url(Source+Sans+Pro_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/sourcesanspro/v10/ODelI1aHBYDBqgeIAH2zlEY6Fu39Tt9XkmtSosaMoEA.ttf */
        url(Source+Sans+Pro_400_normal.svg#Source+Sans+Pro_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=ODelI1aHBYDBqgeIAH2zlADX0QHsyBtvFGhCuXSMYhM&skey=1e026b1c27170b9b&v=v10#SourceSansPro */
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: url(Source+Sans+Pro_600_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Source+Sans+Pro_600_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Source+Sans+Pro_600_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/sourcesanspro/v10/toadOcfmlt9b38dHJxOBGJ6-ys_j0H4QL65VLqzI3wI.woff */
        url(Source+Sans+Pro_600_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/sourcesanspro/v10/toadOcfmlt9b38dHJxOBGBRq_IsDXucKYMk4-diqPEc.ttf */
        url(Source+Sans+Pro_600_normal.svg#Source+Sans+Pro_600_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: url(Source+Sans+Pro_700_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Source+Sans+Pro_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Source+Sans+Pro_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/sourcesanspro/v10/toadOcfmlt9b38dHJxOBGFkQc6VGVFSmCnC_l7QZG60.woff */
        url(Source+Sans+Pro_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/sourcesanspro/v10/toadOcfmlt9b38dHJxOBGLlcMrNrsnL9dgADnXgYJjs.ttf */
        url(Source+Sans+Pro_700_normal.svg#Source+Sans+Pro_700_normal) format('svg'); /* {{svg-gf-url}} */
}
